/* google fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@700&display=swap');

body {
    background-color: azure;
}

/* these css are header  */
.top-back-color {
    background-color: #FFFBF0;
}

.penguin-green-color {
    color: #A4BC46;
    font-size: 25.43px;
}

.fashion-black-color {
    color: #363958;
    font-size: 25.43px;
}

ul.my-item-space li {
    margin-right: 2rem;
}

ul.my-item-space li a {
    font-size: 1.1rem;
    color: #3C3C3C;
}

ul.my-item-space li:hover {
    background-color: lightskyblue;
    border-radius: 12px;
    box-shadow: 2px 2px 2px gray;
}

/* form yet css code is close  */

/* top section css code is start */


.top-section {
    padding: 100px 0 100px 0;
}

.my-button-back {
    background: linear-gradient(to left, #A4BC46 100%, #85A019 100%);
    font-weight: 500;
    cursor: pointer;
}

.top-section h1 {
    font-family: 'Poppins', sans-serif;
    color: #FABE4C;

}

.top-section h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #363958;

}

.top-bannar {
    margin-top: -85px;
}

/* end top-section */
/* Start product-section */
section.container>h1 {
    color: #363958;
}

.jacket-info h3 {
    color: #363958;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
}

.jacket-info p {
    color: #3E3E3E;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}

.buttom-item:hover {
    background-color: lightslategray;
}




/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .top-info {
        padding-left: 30px;
        padding-right: 30px;
        text-align: justify;
    }

    .top-bannar {
        margin-top: 50px;
        padding-left: 30px;
        padding-right: 30px;
    }


    /* .woman-jacket,
    .man-jacket {
        display: flex;
        flex-wrap: wrap;
    } */

    .buttom-bannar {
        margin-top: 40px;
    }
}

/* ipad air */
@media only screen and (max-width: 820px) {
    .top-bannar {
        margin-top: 50px;
    }
}